.create-article {
    box-shadow: 3px 3px 4px 4px rgb(187, 184, 184);
    padding: 2rem 3rem 3rem 3rem;
    width: 85%;
    border-radius: 4px;
    h2 {
        margin-bottom: 1rem;
        font-size: 30px;
        font-weight: 600;
        color: $primary-color;
    }
    textarea {
        height: 200px;
    }
    input {
        padding: 1rem;
    }
    button {
        margin-top: 1rem;
    }
    .button.is-link {
        background-color: $primary-color;
    }
    span {
        text-transform: capitalize;
        display: inline-block;
    }
}
.text-red {
    color: crimson;
}
.error {
    border: 1px solid crimson;
}
